<html>
    <head>
        <title>{$title}</title>
    </head>

    <body>

                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Jméno:</label>
                            {$values['name']}
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email:</label>
                            {$values['email']}
                            <p class="help-block"></p>
                        </div>
                    </div>    

                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Produkt:</label>
                            {$values['product']}
                            <p class="help-block"></p>
                        </div>
                    </div>  

                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Zpráva:</label>
                            {$values['message']}
                            <p class="help-block"></p>
                        </div>
                    </div>


    </body>
</html>

